<div class="wrapper" *ngIf="!isOpened">
    <a class="card map" href="https://www.google.com/maps/d/u/0/embed?mid=1oXo0dJ9VWkqUBbs4LBpVqowYyxvnPv0&ehbc=2E312F&ll=47.710640602604606%2C19.53738329999999&z=8" target="_blank"><h2>Térkép</h2></a>
    <div class="card" *ngFor="let x of destinations" (click)="getDestination(x.DestinationID)">
        <h2>{{x.Destinationname}}</h2><h2>{{x.tcount}}</h2>
    </div>
</div>

<div class="destination" *ngIf="isOpened">
    <div class="layer"></div>
    <img src="assets/img/{{tours.destination.Destinationimage}}" alt="{{tours.destination.Destinationname}}">
    <h2 >{{tours.destination.Destinationname}}</h2>
    <p>{{tours.destination.Body}}</p>
    <div class="images">
        <img *ngFor="let x of tours.images; index as i" src="assets/tours/{{x}}" alt="image{{i}}">
    </div>
    <button (click)="closeDestination()">Vissza</button>
</div>
